*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    overflow: hidden;
    border-radius: 20px;
}
header{
    background-color: aqua;
    padding: 10px 10px;
    color: black;
    display: flex;
    justify-content: space-between;
}
#title{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#btn{
  background-color: transparent;
  border: none;
  display: none;
}

.container{
    background-color: aquamarine;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

#user-window{
    background-color: blue;
    width: 350px;
    padding: 10px;
    border-radius: 5px;
    margin-right: 20px;
    display: block;
}

#user-head{
    display: flex;
    background-color: green;
    border-radius: 10px;
    padding: 5px 10px;
    margin-bottom: 10px; 
}

#user-list p{
   margin-bottom: 10px;
}

#chat-window{
    width: 100%;
    background-color: brown;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

#chats{
    min-height: 60vh;
}
.message{
    background-color: wheat;
    border-radius: 0px 10px 10px 0px;
    margin: 5px;
    max-width: 300px;
    padding: 0px 10px;
}

#outgoing{
    background-color: wheat;
    border-radius: 10px 0px 0px 10px; 
    margin-left: auto;
    text-align: right;
}

#user-input{
    display: flex;
    padding: 10px;
}

#new-message{
    width: 100%;
    min-height: 35px;
    padding: 5px;
    border: none;
    border-radius: 10px 0px 0px 10px;
    background-color: white;
    color: black;
}

#send{ 
  padding: 5px;
  border-radius: 0px 10px 10px 0px;
  border: none; 
  background-color: black;
  color: white;
  letter-spacing: 1px;
}

@media screen and (max-width: 900px) {
    main{
        width: 90%;
    }
    #btn{
        display: block;
    }
    .container{
        position: relative;
    }
    #user-window{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-radius: 0px 0px 5px 5px;
        z-index: 10;
        padding-bottom: 0px;
        display: none;
    }
    .message{
        max-width: 220px;
    }

}








